* {
    background-color: #AF8D86;
    color: black;
}

.parent {
    display: flex;
}
.header {
 text-align: center;
}

.text {
   justify-content: left;
 text-align: left;
 margin: 5px;
}

.img {
    justify-content: right;
 width: 50%;
 height: 50%;
 margin: 5px;

}