.catImg {
  width:100%;
  height: 200px;
  border-radius: 4px;
  object-fit: cover;
}

.wrapper {
  justify-items: center;
}

  
  .card {
    width: 18rem;
    margin: 10px;
    
  }

  .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  .productLink {
    text-align: center;
  }

  .body {
    height: 250px;
  }

  .group {
   margin-bottom: 3px;
  }

  .button {
    margin: 20px;

  }

  .form {
    justify-content: center;
  }

  .display {
    
  }

  .displayContainer {
    justify-content: right;
  }