
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  
  .card {
    align-items: stretch;
    padding: 15px;
    width: 30%;
  }

  .productLink {
    text-align: center;
  }